<h2> Log Exercicios</h1>
<p><%= notice %></p>
<p><%= alert %></p>
<% if user_signed_in? %>
	<%= render partial: "atividades/form" %>
<% end %>
<table>
	<tr>
		<th> Tempo </th>
		<th> Tipo </th>
		<th> Data </th>
		<th> </th>
		<th> </th>
	<tr>
	<%= render @atividades %>
</table>