<h2> Log Exercicios</h1>
<%= notice %>
<%= render partial: "atividades/form" %>
<table>
	<tr>
		<th> Tempo </th>
		<th> Tipo </th>
		<th> Data </th>
		<th> </th>
		<th> </th>
	<tr>
	<%= render @atividades %>
</table>